
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/Assets/spicex.png" alt="Logo" style="width:40px;" class="rounded-pill">
            <button class="btn btn-dark" type="button">SPICEX</button>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center ms-5"  id="mynavbar">
            <form class="d-flex ms-5">
                <input class="form-control me-2" type="text" placeholder="Search">
                <button class="btn btn-success" type="button">Search</button>
            </form>
        </div>
        <div class="collapse navbar-collapse justify-content-end me-5" id="mynavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link me-5" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  me-5" href="/categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  me-5" href="/cart">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  me-5" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link   me-5" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>