<app-header></app-header>
<div class="p-5 bg-success text-white text-center">
    <h1>CHECKOUT TO PAYMENT</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>
<div class="container mt-5">


    <div class="row g-5">
        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
            <div class="p-4">
                
                
                <div>
                    <form>
                        

                        <div class="text-secondary mt-4 mb-2">Billing Address</div>
                        <div class="row mb-3">
                            <div class="col-lg-8 col-md-6 col-xs-12">
                                <input type="text" class="form-control" placeholder="Street Address">
                            </div>
                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <input type="text" class="form-control" placeholder="Zipcode">
                            </div>
                        </div>

                        <div class="text-secondary mt-4 mb-2">Contact Info </div>
                        <div class="mb-3">
                            <input type="text" placeholder="Name" class="form-control">
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Phone">
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="p-4" id="rightPanel">
                <h6 class="text-uppercase"><small>ORDER</small></h6>
                <h4 class="boldFont">INFO</h4>

                <div class="my-4 d-flex justify-content-between align-items-center">
                    <div>cardamom <br><span class="text-secondary"><small>(100gm) x 2</small></span></div>
                    <div class="w-100 mx-3 borderDotted"></div>
                    <div>$10.00</div>
                </div>
                <div class="my-4 d-flex justify-content-between align-items-center">
                    <div style="min-width:130px">Walnuts<br><span class="text-secondary"><small>(100gm) x 1</small></span></div>
                    <div class="w-100 mx-3 borderDotted"></div>
                    <div>$10.00</div>
                </div>
                <div class="my-4">
                    <h6>Apply discount code</h6>
                    <div class="my-3">
                        <input type="text" class="bg-white form-control" placeholder="Code">
                    </div>
                </div>
                <hr>
                <div class="my-4 fs-4">
                    <div class="d-flex justify-content-between">
                        <div class="">Total</div>
                        <div class="">$20.00</div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center ">
                    <div><input class="" type="checkbox" id="agreeTerms"></div>
                    <div class="mx-4 "><label for="agreeTerms"><small>I agree to the <a class="text-success text-decoration-none" href="#">Terms and Conditions</a>
                                and the <a class="text-success text-decoration-none" href="#">Automatic Renewal Terms</a> above</small></label></div>
                </div>
                <div class="my-4">
                    <google-pay-button environment="TEST"  ></google-pay-button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>