<div class="container">
    <section class="product-list">
        <h2>Users List</h2>
        <input type="text" id="search-bar" placeholder="Search Users...">
        <table>
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                 
            </tbody>
        </table>
    </section>
</div>