

<app-header></app-header>
<div class="p-5 bg-success text-white text-center">
    <h1>CATEGORIES</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container mt-3 " style="min-height: 60vh;">

    <div class="row ms-4">

        <div class="col-sm-4 mt-5 ">

            <div class="card" style="width:300px">
                <img class="card-img-top" height="300px" src="assets/Assets/cardamom_1.jpg" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">SPICES</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                    </p>
                    <a href="#" class="btn btn-success">VIEW</a>
                </div>
            </div>



        </div>
        <div class="col-lg-4 mt-5 ">

            <div class="card" style="width:300px">
                <img class="card-img-top" height="300px" src="assets/Assets/glove.jpg" alt="Card image"
                    style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">DRY FRUITS</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                    </p>
                    <a href="#" class="btn btn-success">VIEW</a>
                </div>
            </div>

        </div>

        <div class="col-lg-4 mt-5  ">

            <div class="card" style="width:300px">
                <img class="card-img-top" height="300px" src="assets/Assets/cinnamon.jpg"
                    alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">NUTS & DATES</h4>
                    <p class="card-text">Some example text some example text. John Doe is an architect and engineer
                    </p>
                    <a href="#" class="btn btn-success">VIEW</a>
                </div>
            </div>

        </div>

        
    </div>
</div>


<app-footer></app-footer>

