

.add-product form {
    background: #dcf5d7;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.add-product form label {
    display: block;
    /* margin-bottom: 2px;  */
    /* Decreased spacing */
    font-weight: bold;
}

.add-product form input,
.add-product form select,
.add-product form textarea {
    width: 100%;
    padding: 4px;
    margin-bottom: 6px; /* Decreased spacing */
    border: 1px solid black;
    border-radius: 4px;
}

.add-product form button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    /* background: #007bff; */
    height: 40px;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
}

.add-product form button:last-child {
    background: #6c757d;
}

.product-list input {
    width: 100%;
    padding: 8px;
    margin-bottom: 6px; /* Decreased spacing */
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-list table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

.product-list th,
.product-list td {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
